<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" media="all" href="/css/style.css">

        <script src="/js/jquery-1.11.0.min.js"></script>    
        <script src="/js/masonry.pkgd.min.js"></script>
        <script src="/js/bigSlide.min.js"></script>      

    </head>
    <body class="single single-post postid-620 single-format-standard category-design" id="bg-620">

      <div id="framework">

        <div id="title" class="brand-title">
            <h3 class="titleh3"><i class="fa fa-lightbulb-o"></i> Equipo Creativo</h3> 
            <div class="nav">
                <a href="/index.html"><i class="fa fa-arrow-left"></i></a>
                <!--i class="fa fa-arrow-right"></i-->
            </div>
        </div>

        <div class="content css-620">

        	<div class="dateBox"><span class="month">{{ page.date | date: '%B' }}</span><span class="day">{{ page.date | date: '%-d' }}</span><span class="year">{{ page.date | date: '%Y' }}</span>
          </div>
          <div class="twitter"><a class="tweet popup" href="#" title="Share on Twitter" alt="Share on Twitter"><i class="fa fa-twitter"></i></a>
          </div>

          <h1 class="dominant">{{ page.title }}</h1>

          <p>
          	{{ content }}
          </p>

          <div id="disqus_thread"></div>
          
        </div>

        <footer>
          <div class="respond"><a class="tweet popup" href="#" title="Respond on Twitter" alt="Respond on Twitter"><small>respond on twitter</small> <i class="icon-twitter"></i></a>
          </div>
        </footer> 

      </div>   

      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'equipocreativo'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    	</script>
	    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </body>
</html>